<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RUNNING MODEL" value="SNOWMAN" />
    <!-- PENULISAN FOLDER DIAKHIRI DENGAN CHARACTER BACKSLASH \ -->
    <add key="KEYENCE IMAGE FOLDER" value="D:\KEYENCE IMAGE\" />
    <add key="FURUKAWA IMAGE FOLDER" value="D:\FURUKAWA IMAGE\" />
  </appSettings>
</configuration>